@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

$main_color: #192f60;
$accent-color: #20868a;
$base_color: #d4dbed;
$text_color: #3f3f3f;

$font_ja: "Noto Sans JP", sans-serif;